<perch:content id="sharing_twitter_via" type="text" label="Tweet username" help="No need to include @" divider-before="Twitter"/>
<perch:content id="sharing_twitter_tags" type="text" label="Twitter Hashtags" help="comma-separated. No need to include #" />
<perch:content id="sharing_twitter_desc" type="textarea" label="Tweet" max="200" />

<perch:content id="sharing_linkedin_title" type="text" max="200" label="LinkedIn Title" divider-before="LinkedIn" />
<perch:content id="sharing_linkedin_desc" type="text" max="256" label="LinkedIn Description" />
<perch:content id="sharing_linkedin_source" type="text" max="200" label="LinkedIn Source" />

<perch:content id="sharing_pinterest_desc" type="text" label="Pinterest Description" divider-before="Pinterest" />
<perch:content id="sharing_pinterest_media" type="image" label="Pinterest Image"/>
<perch:content id="sharing_pinterest_video" type="checkbox" label="Pinterest Video" value="true" />

<perch:content id="sharing_reddit_title" type="text" label="Reddit Title" divider-before="Reddit" />

<perch:content id="sharing_tumblr_title" type="text" label="Tumblr Title" divider-before="Tumblr"/>
<perch:content id="sharing_tumblr_desc" type="text" label="Tumblr Caption" />
<perch:content id="sharing_tumblr_tags" type="text" label="Tumblr Tags" />
<perch:content id="sharing_tumblr_posttype" type="select" label="Tumblr Post Type" options="Text|text, Photo|photo, Link|link, Quote|quote, Chat|chat, Video|video"  />